apiVersion: v1
kind: Service
metadata:
  name: patient-service
spec:
  selector:
    app: patient-service
  ports:
    - name: http
      port: 80                # <- Service port exposed inside cluster for Istio
      targetPort: {{ .Values.service.port }}  # <- Container port (3000)
