apiVersion: v1
kind: Service
metadata:
  name: patient-service
spec:
  selector:
    app: patient-service
  ports:
    - name: http
      port: {{ .Values.service.port }}      # <- Service port (3000)
      targetPort: {{ .Values.service.port }} # <- Container port (3000)
