name: CD Deploy Pipeline (Node Microservices - AKS + Helm)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-to-aks:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Get AKS Credentials
      run: |
        az aks get-credentials \
          --resource-group ${{ secrets.AZURE_RG }} \
          --name ${{ secrets.AKS_NAME }} \
          --overwrite-existing

    - name: Install Helm
      run: |
        curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

    - name: Deploy Patient Service with Helm
      run: |
        helm upgrade --install patient-service ./helm/patient-service \
          --set image.repository=${{ secrets.REGISTRY }}/patient-service \
          --set image.tag=latest \
          --set service.port=3000

    - name: Deploy Appointment Service with Helm
      run: |
        helm upgrade --install appointment-service ./helm/appointment-service \
          --set image.repository=${{ secrets.REGISTRY }}/appointment-service \
          --set image.tag=latest \
          --set service.port=3001
